
/*
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.index-menu {
    max-width: 1200px;
    margin: 0 auto;
}
.content {
    min-height: 80px;
    background: linear-gradient(
        90deg
        rgb(255, 17, 0)
        rgb(255, 174, 0)
    );
}

.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 25px;
    color: beige;
    text-transform: uppercase;
}
body h1{
    color: beige;
    background-color:orangered;
    padding: 20px;
    display: flex;
    justify-content: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}
h1{
    color: beige;
    font-size: 45px;
}
ul li{
    display: inline-block;
    padding: 0px 20px;
}
a{
    color: beige;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
a:hover{
    color: aqua;
}
.p1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
table tr th i{
    padding: 20px;
font-size: 30px;
}
table tr td{
    font-size: 20px;
}
    footer{
        color: beige;
        background-color:orangered;
        padding: 20px;
        display: flex;
        justify-content: center;
    }
*/

.index-body 
{
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

.index-body .index-messi
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 10px;
    background-color: rgb(221, 1, 221, 0.15);
    width: 300px;
    height: 300px;
    border: solid 5px;
    border-style: dashed;
    border-color: rgb(0, 0, 0, 0.8);
}

.index-body .hero .index-messi p
{
    font-size: 35px;
    color: rgb(255, 255, 255, 1);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.index-header
{
    background-color: rgba(255, 102, 0, 0.6);
    display: flex;
}

.index-header .index-content
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-header h1
{
    color: white;
    margin-left: 20px;
}

.index-header .index-content nav
{
    display: flex;
    align-items: center;
    justify-content: right;
}

.index-header .index-content ul
{
    display: flex;
    align-items: end;
    justify-content: right;
    margin-left:56vw;
}

.index-header .index-content ul li
{
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: end;
    margin-right: 35px;
}

.index-header .index-content ul li a
{
    text-decoration: none;    
    color: white;
    font-size: 18px;
}

.index-header .index-content ul li a:hover
{
    color: rgb(0, 225, 255);
    transition: cubic-bezier(0.47, 0, 0.745, 0.715) 0.4s color;
    cursor: pointer;
}

.index-footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 102, 0, 0.6);
    position: relative;
    bottom: 0;
}

.index-body .hero
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background: #333; */
    color: white;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.index-body .hero .video-bg
{
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    z-index: -1;
}

.index-body .hero h2
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    justify-content: center;
    align-items: center;
    
}

.index-footer .p1
{
    color: white;
}